{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "operator-linebreak": "off",
    "arrow-parens": "off",
    "class-methods-use-this": "off",
    "no-nested-ternary": "off"
  }
}
